<div id="modalConfirmCart" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p> {{ 'ideas.shop::lang.msg.add_item_success' | trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'ideas.shop::lang.msg.continue_shopping' | trans }}
                </button>
                <a href="/cart" class="btn btn-primary">
                    {{ 'ideas.shop::lang.msg.go_to_cart' | trans }}
                </a>
            </div>
        </div>

    </div>
</div>