==
<div id="header" class="row">	
	        <div id="search" class="desktop-3 tablet-2 mobile-hide">
	          <form action="https://blendwatches.com/search" method="get">
	            <i class="fa fa-search"></i>
	            <input type="text" name="q" id="q" class="search-field" placeholder="Buscar" />
	          </form>
	        </div>

	        <div id="logo" class="desktop-6 tablet-2 mobile-3">
	          
	          <a href="index.html"><img src="{{ 'assets/img/logo-vitacode-400.png' | theme }}" alt="Vitacode" style="border: 0;"/></a>
	          
	        </div> 

	        <ul id="cart" class="desktop-3 tablet-2 mobile-hide">
	          

	          
	          <li>
	            <a href="account/login.html">Mi cuenta</a>
	          </li>
	          
	          
	          
	          <li>
	            <a href="cart.html">Mi cesta: (<span class="cart-count">0</span>)</a>
	          </li>
	        </ul>   

      </div>  <!-- End Header -->