==
<article class="row">  
					    <h2 class="section-title clearfix desktop-12">Los más vendidos!</h2>
					    <div id="product-loop">
						    <div class="product-index desktop-4 first tablet-half mobile-half" id="prod-1322088661071" data-alpha="Mad Gorilla" data-price="7500">     
						      	<div class="product-index-inner">
								  <a href="products/mad-gorilla.html" title="Mad Gorilla">
								    <img class="img1" src="../cdn.shopify.com/s/files/1/1490/6480/products/negro-plata_7fadcfaa-0e1a-44e8-b26d-0a85ab87d33a_largee294.jpg?v=1525534866" alt="Mad Gorilla" />
								    <img class="img2" src="../cdn.shopify.com/s/files/1/1490/6480/products/gris-negro_bc582d34-f7b4-41f1-b92f-2b7dff0a0bf7_largee294.jpg?v=1525534866" alt="Mad Gorilla" /> 
								  </a>       
								</div>  

								<div class="product-info"> 

								  <div class="product-info-inner">
								    <a href="products/mad-gorilla.html"> 
								      <h3>Mad Gorilla</h3>
								    </a>        

								    <div class="price">
								      
								      <div class="prod-price">€75.00</div>
								      	
								    </div>

								  </div>

								  <!-- BEGIN BananaStand.IO Product List Container --> <div class="banana-container banana-list-container" data-product_id="1322088661071" data-container_type="list"></div> <!-- END -->
								</div>
						      
						    </div>
					    	 
						</div>
					  </article>